<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ApplicationInsights" version="0.17.2-build00169" targetFramework="net46" />
  <package id="Microsoft.ApplicationInsights.PersistenceChannel" version="0.17.2-build00169" targetFramework="net46" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="net46" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net46" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net46" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.16-beta" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.ComponentModelHost" version="14.0.25424" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.5.27130" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.ImageCatalog" version="15.5.27130" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Imaging" version="14.3.25407" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="14.3.26930" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6071" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.RemoteControl" version="14.0.249-master2E2DC10C" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.16" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.14.0" version="14.3.25407" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.10.0" version="10.0.30319" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.11.0" version="11.0.50727" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.12.0" version="12.0.21003" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.14.0" version="14.3.25407" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="7.10.6072" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="10.0.30320" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.11.0" version="11.0.61031" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.12.0" version="12.0.30111" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.14.0.DesignTime" version="14.3.26929" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="8.0.50728" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Shell.Interop.9.0" version="9.0.30729" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6071" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="8.0.50728" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Threading" version="15.0.240" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Utilities" version="14.3.25407" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Utilities.Internal" version="14.0.54-masterD06D5CD1" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Validation" version="15.0.82" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
  <package id="OzCode.Analyzers.AddTryCatchAnalyzer" version="1.4.6337.20200" targetFramework="net46" developmentDependency="true" />
  <package id="OzCode.VisualStudioExtensionAnalyzers" version="1.6.6344.22888" targetFramework="net46" developmentDependency="true" />
  <package id="VSSDK.ComponentModelHost" version="12.0.4" targetFramework="net46" />
  <package id="VSSDK.ComponentModelHost.12" version="12.0.4" targetFramework="net46" />
  <package id="VSSDK.IDE.12" version="12.0.4" targetFramework="net46" />
</packages>